# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

#***********#
#  Wetware  #
#***********#

#
# Fuzz testing
#

# Ignore all go-fuzz-build artefacts.
*-fuzz.zip

# Ingore the go-fuzz workdir.
test/fuzz/*

# Belt-and-suspenders; users may inadvertently
# run fuzz tests without specifying a workdir,
# in which case the project root will be polluted
# with output from go-fuzz.
./corpus/*
./crashers/*
./suppressions/*

#
# Misc.
#
cmd/scratch/*
**/__history__.ww